.department {
    overflow-y: auto;
    width: 100%;
    color: rgb(65, 41, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.department h1{
    margin: 50px;
}
  table,th,td  {
     border-collapse: collapse;
     padding: 40px;
     margin: 30px;
}
th{
    color: gray;
}
.toggle-btn{
    background-color: rgb(236, 18, 18);
    border: 1px solid rgb(6, 5, 5);
    border-radius: 95px;
    width: 50px;
    height: 30px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
}

.toggle-btn .thumb{
    height: 20px;
    width: 20px;
    background-color: rgb(249, 249, 249);
    border-radius: 95px;
    transform: translateX(0);
    transition: left 0.15s  ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);

}
.toggle-btn.toggled{
    background-color: rgb(10, 231, 46);
}
.toggle-btn:hover{
    border-color: black;
}
.toggle-btn.toggled .thumb{
   left: calc(50px - 25px);
}
.departmentbox table{
    overflow-y: auto;
}
